<div class="container-fluid pb-3 " style="background-color: #111; position:absolute; bottom:0; margin-top:15vh;">
    <div class="container " data-bs-theme="dark">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Jaki igri</p>

            <a
                    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <i style="font-size: 2rem" class="bi bi-joystick"></i>
            </a>

            <ul class="nav col-md-4 justify-content-end gap-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Дома</a></li>
                <li class="nav-item"><a href="/list/" class="nav-link px-2 text-light">Пребарај</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-light">За нас</a></li>

            </ul>
        </footer>
    </div>
</div>