<div class="modal fade" id="tagModal" tabindex="-1" data-bs-theme="dark" aria-labelledby="tagModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white" id="tagModal">Додади таг</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-light">
                <div class="d-flex flex-row justify-content-around" style="height: 500px;">

                    <ul id="tagList" class="list-group list-group-flush w-50">
                        {% for tag in tags %}

                            <li class="list-group-item">{{ tag|capfirst }}</li>

                        {% endfor %}

                    </ul>
                    <div style="width:2px;" class="border border-1 mx-3"></div>
                    <div class="flex-grow-1">
                        <div id="formTag">
                            {{ form }}
                        </div>

                        <div class="ms-auto me-3 w-25 ">
                            <button id="submitTag" class="btn btn-primary text-end">Додади</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
